%script{:src => "http://cdn.pandastream.com/u/1.4/jquery.panda-uploader.min.js", :type => "text/javascript"}

- block = Block.new
= simple_form_for [:api, block], method: "POST" do |f|
  = f.hidden_field :type, value: 'Block::Video'

  = f.simple_fields_for :video do |panda_form|
    / the control will appear next to this, and the video ID will be stored here after the upload
    = panda_form.hidden_field :panda_id, id: :returned_video_id
    -# %input#returned_video_id{:name => "panda_video_id", :type => "hidden"}/

  / upload progress bar (optional)
  #upload_progress.panda_upload_progress

  = f.number_field "point"
  -# %input#lat{:name => "lat", :type => "number"}/
  -# %input#long{:name => "long", :type => "number"}/
  = f.button :submit

:javascript
  var panda_access_details = #{@access_details.to_json.html_safe};
  $("#returned_video_id").pandaUploader(panda_access_details, {
    upload_progress_id: 'upload_progress',
    onsuccess: function() {
      console.log("successfully uploaded file")
    }
  });
%div
  %table.table
    %tr
      %th ID
      %th Type
      %th Mercator Point
      %th Geographic Point
      %th Panda Video Id
      %th Video Filename

    - @blocks.each do |block|
      %tr
        %td= block.id
        %td= block.type
        %td= block.point
        %td= block.point_geographic
        %td= block.video.try(:panda_id)
        %td= block.video.try(:original_filename)
